<template>
  <div>
    <PageHeader />
    <div class="background">
      <nuxt class="container" />
    </div>
    <PageFooter />
  </div>
</template>

<script>
import lang from '../lang/de.json';
import PageHeader from '~/components/PageHeader.vue';
import PageFooter from '~/components/PageFooter.vue';

export default {
  components: {
    PageHeader,
    PageFooter
  },
  data() {
    return {
      lang
    };
  },
  head() {
    return {
      title: this.lang.titles.tab
    };
  }
};
</script>

<style lang="scss">
$headerHeight: 71px; // hard-coded

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../static/fonts/open-sans-v16-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../static/fonts/open-sans-v16-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../static/fonts/open-sans-v16-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../static/fonts/open-sans-v16-latin-600.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../static/fonts/open-sans-v16-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../static/fonts/open-sans-v16-latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-family: sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: #dcedc8;
}

.background {
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
}

.info-icon {
  color: #35e25c;
  margin: 5px 0;
}

.login-info-text {
  margin-bottom: 20px;
  font-style: oblique;
}

.tutorial-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.btn-green {
  border: 0px;
  border-radius: 4px;
  padding: 10px;
  background-color: #35e25c;
  color: #fff;
  box-shadow: 2px 5px 8px rgba(44, 156, 79, 0.3), 1px 2px 4px rgba(44, 156, 79, 0.1);
  text-transform: uppercase;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: box-shadow 0.2s;
}

.btn-green:hover {
  box-shadow: 4px 6px 10px rgba(44, 156, 79, 0.3), 2px 4px 6px rgba(44, 156, 79, 0.1);
}

.btn-green:focus {
  outline: none;
}

.login-form {
  margin-bottom: 35px;
}

.login-form input,
.login-form button {
  display: block;
  width: 100%;
}

.settings-form button:not(.vs__clear) {
  width: 100%;
}

.v-select {
  min-width: 250px;
}

div.vs__dropdown-toggle {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid #35e25c;
  border-radius: 4px;
  margin: 5px 0;
}

div.vs__dropdown-toggle input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

div.vs__dropdown-toggle .vs__open-indicator:hover {
  cursor: pointer;
}

input[type='text'],
input[type='password'] {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid #35e25c;
  border-radius: 4px;
}

input[type='text']:focus,
input[type='password']:focus {
  background-color: red;
  background-color: #35e25c;
  color: #fff;
}

.ti-input {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px !important;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid #35e25c !important;
  border-radius: 4px;
  margin: 5px 0;
}

.ti-input input:focus {
  background: none;
  color: black;
  min-width: 110px;
}

.ti-input .ti-tag {
  background-color: #35e25c !important;
  min-height: 25px;
}

.ti-input .ti-new-tag-input-wrapper {
  padding: 0 !important;
  min-height: 25px;
}

.ti-input input.ti-new-tag-input {
  padding: 0 5px !important;
}

.ti-input .ti-tag.ti-deletion-mark {
  background-color: #c8e6c9 !important;
}
</style>
