<template>
  <div>
    <fa class="info-icon" icon="info" />
    <p class="login-info-text">{{ lang.texts.loginInfo }}</p>
    <form method="post" class="login-form" @submit.prevent="login">
      <input
        id="username"
        v-model="username"
        :placeholder="lang.inputs.username"
        type="text"
        name="username"
      />
      <br />
      <input
        id="password"
        v-model="password"
        :placeholder="lang.inputs.password"
        type="password"
        name="password"
      />
      <br />
      <button type="submit" class="btn-green">{{ lang.buttons.login }}</button>
    </form>
    <p class="tutorial-title">{{ lang.titles.tutorial }}</p>
    <iframe
      width="272"
      height="153"
      src="https://www.youtube-nocookie.com/embed/Ob8GBMPDE7M"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script>
import lang from '../../lang/de.json';

export default {
  data() {
    return {
      lang,
      username: '',
      password: ''
    };
  },
  methods: {
    login() {
      this.$store
        .dispatch('login', {
          username: this.username,
          password: this.password
        })
        .then(success => {
          if (success) {
            this.$router.push('/settings');
          } else {
            alert(this.lang.errors.login);
          }
        });
    }
  }
};
</script>
