<template>
  <div>
    <button class="btn-green" @click="logout">{{ lang.buttons.logout }}</button>
  </div>
</template>

<script>
import lang from '../lang/de.json';

export default {
  data() {
    return {
      lang
    };
  },
  methods: {
    logout() {
      this.$store.dispatch('logout').then(success => {
        if (success) {
          this.$router.push('/login');
        } else {
          alert(this.lang.errors.logout);
        }
      });
    }
  }
};
</script>
