<template>
  <div class="header">
    <div class="title-container">
      <p class="header-title" @click="redirectHome">{{ lang.titles.page }}</p>
    </div>
    <div v-if="this.$store.state.authUser" class="button-container">
      <SettingsButton />
      <LogoutButton />
    </div>
  </div>
</template>

<script>
import lang from '../lang/de.json';
import SettingsButton from '~/components/SettingsButton.vue';
import LogoutButton from '~/components/LogoutButton.vue';

export default {
  components: {
    SettingsButton,
    LogoutButton
  },
  data() {
    return {
      lang
    };
  },
  methods: {
    redirectHome() {
      this.$router.push('/');
    }
  }
};
</script>

<style lang="scss">
.header {
  display: flex;
  background-color: #dcedc8;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px 0;
}

.header button {
  margin: 5px 10px;
}

.title-container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
}

.header .header-title {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2em;
  cursor: pointer;
}
</style>
