<template>
  <div class="footer">
    <h6 v-if="$route.path === '/'" class="disclaimer-text">{{ lang.texts.legalDisclaimer }}</h6>
    <p class="made-by-text">
      {{ lang.texts.developedBy }}
      <a href="https://instagram.com/paulfrll">Paul Fürll</a>
      {{ lang.texts.and }}
      <a href="https://instagram.com/TorbenWetter">Torben Wetter</a>
    </p>
    <p class="legal-links">
      <a href="https://wetter.codes/?page=imprint">{{ lang.buttons.imprint }}</a> |
      <a href="https://wetter.codes/?page=legal">{{ lang.buttons.privacyPolicy }}</a>
    </p>
  </div>
</template>

<script>
import lang from '../lang/de.json';

export default {
  data() {
    return {
      lang
    };
  }
};
</script>

<style lang="scss" scoped>
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcedc8;
  padding: 15px;
}

.disclaimer-text,
.made-by-text,
.legal-links {
  text-align: center;
}

.disclaimer-text {
  margin-bottom: 20px;
}

.made-by-text {
  margin-bottom: 10px;
}

.legal-links {
  margin-bottom: 0;
}

.footer a {
  color: #35e25c;
  font-weight: bold;
}

.footer a:visited {
  color: #35e25c;
  font-weight: bold;
}
</style>
