<template>
  <div>
    <button class="btn-green" @click="settings">{{ lang.buttons.settings }}</button>
  </div>
</template>

<script>
import lang from '../lang/de.json';

export default {
  data() {
    return {
      lang
    };
  },
  methods: {
    settings() {
      if (this.$router.currentRoute.path !== '/settings') {
        this.$router.push('/settings');
      }
    }
  }
};
</script>
