<template>
  <div>
    <div v-if="plans.length > 0" id="head-row">
      <h6 id="last-updated-text">{{ lang.texts.lastUpdated }}: {{ plans[0].lastUpdated }}</h6>
    </div>
    <div v-for="plan in plans" :key="plan.date" class="plan">
      <span class="line">
        <h2>
          <span>{{ plan.weekDay }}, {{ plan.date }}</span>
        </h2>
      </span>
      <code
        v-if="plan.infos.length == 0 && plan.substitutions.length == 0"
        class="info-text"
      >{{ lang.texts.noInfos }}</code>
      <table
        v-if="plan.infos.length > 0"
        :class="'table' + (plan.substitutions.length > 0 ? ' bottomSpace' : '')"
      >
        <thead>
          <tr>
            <th>{{ lang.titles.information }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="info in plan.infos" :key="info" class="tableRow greyRow">
            <td class="tableCell">{{ info }}</td>
          </tr>
        </tbody>
      </table>
      <table
        v-if="plan.substitutions.length > 0"
        class="table table-responsive w-100 d-block d-md-table"
      >
        <thead>
          <tr>
            <th
              v-for="category in Object.keys(plan.substitutions[0])"
              :key="category"
            >{{ getColumnName(category) }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="substitution in plan.substitutions"
            :key="JSON.stringify(substitution)"
            :class="'tableRow ' + getBackgroundColor(Object.values(substitution)[1])"
          >
            <td
              v-for="(value, index) in Object.values(substitution)"
              :key="index + value"
              class="tableCell"
            >
              <span v-if="index === 2">{{ getSubject(value) }}</span>
              <span
                v-else-if="index === 3 && value !== '' && value in teachers"
              >{{ teachers[value] }}</span>
              <span v-else>{{ value }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import lang from '../lang/de.json';

export default {
  middleware: 'auth',
  async asyncData({ store, $axios }) {
    try {
      const plans = await store.dispatch('getPlans');
      const teacherRes = await $axios.post('/get_teacher_names');
      const {
        data: { teachers }
      } = teacherRes;
      return {
        teachers,
        plans
      };
    } catch (error) {
      return {
        teachers: {},
        plans: []
      };
    }
  },
  data() {
    return {
      lang
    };
  },
  methods: {
    getColumnName(englishName) {
      if (englishName in this.lang.substitutionInfos) {
        return this.lang.substitutionInfos[englishName];
      } else {
        return '?';
      }
    },
    getBackgroundColor(substitutionType) {
      let color = 'red';
      this.lang.substitutionColors.forEach(substitutionColor => {
        substitutionColor.keyWords.forEach(keyWord => {
          if (substitutionType.includes(keyWord)) {
            color = substitutionColor.color;
          }
        });
      });
      return color + 'Row';
    },
    getSubject(subjectString) {
      if (!subjectString.includes(';')) {
        return '';
      }

      const [oldSubject, newSubject] = subjectString.split(';');

      // lesson cancelled
      if (oldSubject !== '-' && newSubject === '-') {
        return oldSubject;
      }

      // subject change
      if (oldSubject && newSubject && oldSubject !== newSubject) {
        return oldSubject + ' → ' + newSubject;
      }

      // no subject change or additional lesson
      return newSubject;
    }
  }
};
</script>

<style lang="scss" scoped>
$dividerTextHeight: 16px;

#head-row {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3px 5px;
  margin-bottom: 10px;
  background-color: #eeeeee;
}

@media (min-width: 576px) {
  #head-row {
    width: auto;
    right: 15px;
    border-radius: 0 0 4px 4px;
  }
}

#last-updated-text {
  font-family: monospace, monospace;
  font-display: swap;
  margin-bottom: 0;
}

.plan {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

// selects only a .plan that's directly under the #head-row (only the first .plan)
#head-row + .plan {
  margin-top: 25px;
}

.line {
  display: block;
  margin-bottom: 10px;
}

.line h2 {
  font-size: $dividerTextHeight;
  margin-bottom: 0;
  border-bottom: #e0e0e0 1px solid;
}

.line h2 span {
  position: relative;
  top: $dividerTextHeight / 2;
  background-color: white;
  font-weight: 400;
  padding: 0 10px;
}

.bottomSpace {
  margin-bottom: 10px !important;
}

.info-text {
  padding: 0.75rem;
}

.table {
  margin-bottom: 0;
  table-layout: fixed;
}

.table > thead > tr > th {
  border: none;
  text-transform: capitalize;
}

.table > tbody > tr:first-child > td {
  border-top: none;
}

.tableCell {
  vertical-align: middle;
}

.table > tbody > tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

.table > tbody > tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

.table > tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.table > tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.redRow {
  background-color: #ffcdd2;
}

.yellowRow {
  background-color: #fff9c4;
}

.greenRow {
  background-color: #dcedc8;
}

.blueRow {
  background-color: #bbdefb;
}

.greyRow {
  background-color: #f5f5f5;
}
</style>
