<template>
  <div>
    <client-only :placeholder="lang.texts.loading">
      <form
        method="post"
        class="settings-form"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        @submit="setup"
      >
        <h6 class="setting-title">{{ lang.titles.classOrCourse }}</h6>
        <VueSelect
          v-model="selectedGrade"
          :options="[5, 6, 7, 8, 9, 10, 11, 12, 13]"
          :searchable="false"
          :placeholder="lang.inputs.grade"
          @input="resetSelection"
        />
        <VueSelect
          v-if="selectedGrade >= 5 && selectedGrade <= 10"
          id="class"
          v-model="selectedClass"
          :options="['a', 'b', 'c', 'd', 'e', 'f']"
          :searchable="false"
          :placeholder="lang.inputs.class_"
        />
        <div v-else-if="selectedGrade >= 11 && selectedGrade <= 13" class="courses-row">
          <TagsInput
            id="courses"
            v-model="tag"
            :add-on-key="[13, 32, '.', ',', ':', ';']"
            :tags="selectedCourses"
            :placeholder="lang.inputs.courses"
            @tags-changed="tagsChanged"
            @before-adding-tag="beforeAddingTag"
          />
          <button class="btn-green tag-add-button" @click="addTag">&#43;</button>
        </div>
        <h6 class="setting-title">{{ lang.titles.notifications }}</h6>
        <p class="notification-info">{{ lang.texts.notificationsDescription }}</p>
        <span
          class="switch"
          @click.prevent="notificationsOn ? disableNotifications() : enableNotifications()"
        >
          <input id="switch-id" :checked="notificationsOn" type="checkbox" class="switch" />
          <label for="switch-id" />
        </span>
        <button
          :disabled="!isInputValid"
          class="btn-green setup-button"
          @click="setup"
        >{{ lang.buttons.save }}</button>
      </form>
    </client-only>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css';
import $ from 'jquery';
import lang from '../../lang/de.json';

export default {
  middleware: 'auth',
  components: {
    VueSelect: () => import('vue-select'),
    TagsInput: () => (process.browser ? import('@johmun/vue-tags-input') : null)
  },
  fetch({ store, redirect }) {
    if (!store.state.authUser) {
      return redirect('/login');
    }
  },
  data() {
    const class_ = this.$store.state.class_;
    return {
      lang,
      tag: '',
      selectedGrade: class_.selectedGrade,
      selectedClass: class_.selectedClass,
      selectedCourses: class_.selectedCourses.map(function(course) {
        return {
          text: course
        };
      }),
      notificationsOn: false
    };
  },
  computed: {
    isInputValid() {
      return (
        this.selectedGrade != null &&
        (this.selectedClass != null || this.selectedCourses.length !== 0)
      );
    }
  },
  async mounted() {
    this.notificationsOn = await this.notificationsEnabled();

    window.addEventListener('beforeunload', this.onPageUnload);

    if (process.browser) {
      // set background color depending on the validity of the entered tag
      $('input#courses').on('keyup', event => {
        const enteredTag = $('input#courses').val();
        const newColor = this.isValidTag(enteredTag) ? '#dcedc8' : 'white';
        $('input.ti-new-tag-input').css('background-color', newColor);
      });
    }

    this.$router.beforeEach(this.onRouteChange);
  },
  beforeDestroy() {
    window.removeEventListener('beforeunload', this.onPageUnload);

    // "unregisters" the $router.beforeEach from mounted() in an ugly way
    const routeEventIndex = this.$router.beforeHooks.indexOf(this.onRouteChange);
    if (routeEventIndex > -1) {
      this.$router.beforeHooks.splice(routeEventIndex, 1);
    }
  },
  methods: {
    resetSelection() {
      this.tag = '';
      this.selectedClass = null;
      this.selectedCourses = [];
    },
    isValidTag(tag) {
      const tagRule = /^([A-Z]{2,3}|[a-z]{2,3})[1-9]?$/g;
      const match = tag.match(tagRule);
      return match && match.length > 0 && match[0] === tag;
    },
    tagsChanged(newTags) {
      this.selectedCourses = newTags.map(function(newTag) {
        return {
          text: newTag.text
        };
      });
    },
    beforeAddingTag(event) {
      const tag = event.tag.text;
      // we do the validation ourselves
      if (this.isValidTag(tag)) {
        event.addTag();
      }
    },
    addTag() {
      // trigger enter key press to add tag to TagsInput
      const e = $.Event('keypress');
      e.which = 13;

      const tagInput = $('input#courses');
      tagInput.trigger(e);
      setTimeout(function() {
        tagInput.focus();
      }, 1);
    },
    setup(event) {
      // prevent the page from reloading (button click event is not cancelled)
      if (event && event.type === 'submit') {
        event.preventDefault();
        return;
      }

      this.$store
        .dispatch('setup', {
          selectedGrade: this.selectedGrade,
          selectedClass: this.selectedClass,
          selectedCourses: this.selectedCourses.map(function(tag) {
            return tag.text;
          })
        })
        .then(success => {
          if (success) {
            this.$router.push('/');
          } else {
            alert(this.lang.errors.setup);
          }
        });
    },
    async hasClassChanged() {
      const classDiffers = await this.$store.dispatch('classDiffers', {
        class_: {
          selectedGrade: this.selectedGrade,
          selectedClass: this.selectedClass,
          selectedCourses: this.selectedCourses.map(function(tag) {
            return tag.text;
          })
        }
      });
      return classDiffers;
    },
    async onPageUnload(event) {
      if (await this.hasClassChanged()) {
        return (event.returnValue = 'Achtung: Änderungen werden verworfen.');
      }
    },
    async onRouteChange(to, from, next) {
      if (from.path !== '/settings' || to.path !== '/') {
        return next();
      }

      const classDiffers = await this.hasClassChanged();
      if (!classDiffers) {
        return next();
      }

      if (confirm(this.lang.alerts.pageLeave)) {
        return next();
      }

      return next(false);
    },
    urlBase64ToUint8Array(base64String) {
      const padding = '='.repeat((4 - (base64String.length % 4)) % 4);
      const base64 = (base64String + padding).replace(/-/g, '+').replace(/_/g, '/');

      const rawData = window.atob(base64);
      const outputArray = new Uint8Array(rawData.length);

      for (let i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i);
      }
      return outputArray;
    },
    async enableNotifications() {
      if (!window.Notification || !window.PushManager || !navigator.serviceWorker) {
        alert(this.lang.errors.noPushSupport);
        return;
      }

      const {
        data: { publicVapidKey }
      } = await this.$axios.post('/get_public_vapid_key');
      Notification.requestPermission(async () => {
        if (Notification.permission === 'granted') {
          const worker = await navigator.serviceWorker.register('./worker.js');
          const subscription = await worker.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: this.urlBase64ToUint8Array(publicVapidKey)
          });

          this.$store
            .dispatch('setNotificationSubscription', {
              subscription
            })
            .then(success => {
              if (success) {
                this.notificationsOn = true;
              } else {
                alert(this.lang.errors.enablePush);
              }
            });
        } else {
          alert(this.lang.errors.notificationPermission);
        }
      });
    },
    disableNotifications() {
      this.$store.dispatch('unsetNotificationSubscription').then(success => {
        if (success) {
          this.notificationsOn = false;
        } else {
          alert(this.lang.errors.disablePush);
        }
      });
    },
    async notificationsEnabled() {
      if (Notification.permission !== 'granted') {
        // make sure they get disabled server-side too (if user has removed Notification permissions)
        this.disableNotifications();
        return false;
      }

      const notificationsSubscribed = await this.$store.dispatch('notificationsSubscribed');
      if (!notificationsSubscribed) {
        return false;
      }

      return true;
    }
  }
};
</script>

<style scoped lang="scss">
.setting-title {
  text-transform: uppercase;
}

.setting-title:not(:first-of-type) {
  margin-top: 15px;
}

div.courses-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.vue-tags-input {
  width: auto;
  flex: 13;
}

.tag-add-button {
  margin: 5px 0 0 10px;
  flex: 1;
  font-size: 2em;
  line-height: 0.7em;
  padding: 5px !important;
}

.notification-info {
  margin-bottom: 5px;
}

.setup-button {
  margin-top: 15px;
}

// original switch code from https://www.abeautifulsite.net/bootstrap-4-switches because I don't have the time to code one myself
$switch-height: 1.55rem !default;
$switch-thumb-padding: 2px !default;
$switch-transition: 0.2s all !default;

.switch {
  font-size: 1rem;
  position: relative;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;

    + label {
      position: relative;
      min-width: calc(#{$switch-height} * 2);
      border-radius: $switch-height;
      height: $switch-height;
      line-height: $switch-height;
      margin-bottom: 5px;
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(#{$switch-height} * 2) + 0.5rem);
    }

    + label::before,
    + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(#{$switch-height} * 2);
      bottom: 0;
      display: block;
    }

    + label::before {
      right: 0;
      background-color: #dee2e6;
      border-radius: $switch-height;
      transition: $switch-transition;
    }

    + label::after {
      top: $switch-thumb-padding;
      left: $switch-thumb-padding;
      width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
      border-radius: 50%;
      background-color: white;
      transition: $switch-transition;
    }

    &:checked + label::before {
      background-color: #35e25c;
    }

    &:checked + label::after {
      margin-left: $switch-height;
    }
  }

  + .switch {
    margin-left: 1rem;
  }
}
</style>
